<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom {% if page.nav-short %}top-nav-short-permanent{% else %}top-nav-regular{% endif %}">
  <div class="navbar-inner">

  {%- if site.title-img -%}
    <a class="navbar-brand navbar-brand-logo" href="{{ '/' | absolute_url }}"><img alt="{{ site.title }} Logo" src="{{ site.title-img | relative_url}}"/></a>
  {%- elsif site.title -%}
    <a class="navbar-brand" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
  {%- endif -%}

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
      {%- assign current_path = page.url | replace: 'index.html', '' -%}
      {%- for link in site.navbar-links -%}
        {%- if link[1].first %}
          {%- assign menu_id = link[0] | slugify -%}
          {%- assign menu_active = false -%}
          {%- for childlink in link[1] -%}
            {%- for linkparts in childlink -%}
              {%- assign child_path = linkparts[1] | relative_url | append: '/' -%}
              {%- if current_path == child_path -%}
                {%- assign menu_active = true -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endfor %}
          <li class="nav-item dropdown{% if menu_active %} section-active{% endif %}">
            <button class="nav-link dropdown-toggle" type="button" id="{{ menu_id }}-menu-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-controls="{{ menu_id }}-submenu"><span class="nav-label">{{ link[0] }}</span></button>
            <div class="dropdown-menu dropdown-menu-right" id="{{ menu_id }}-submenu" aria-labelledby="{{ menu_id }}-menu-toggle">
              {%- for childlink in link[1] -%}
                {%- for linkparts in childlink %}
                  {%- assign child_url = linkparts[1] | relative_url -%}
                  {%- assign child_path = child_url | append: '/' -%}
                  <a class="dropdown-item{% if current_path == child_path %} active{% endif %}" href="{{ child_url }}"{% if current_path == child_path %} aria-current="page"{% endif %}>{{ linkparts[0] }}</a>
                {%- endfor -%}
              {%- endfor %}
            </div>
          </li>
        {% else %}
          {%- assign link_url = link[1] | relative_url -%}
          {%- assign link_path = link_url | append: '/' -%}
          {%- if link_url == '/' -%}{%- assign link_path = '/' -%}{%- endif %}
          <li class="nav-item{% if current_path == link_path %} active{% endif %}">
            <a class="nav-link" href="{{ link_url }}"{% if current_path == link_path %} aria-current="page"{% endif %}><span class="nav-label">{{ link[0] }}</span></a>
          </li>
        {%- endif -%}
      {%- endfor -%}
      {% if site.post_search %}
        <li class="nav-item">
          <a class="nav-link" id="nav-search-link" href="#" title="Search">
            <span id="nav-search-icon" class="fa fa-search"></span>
            <span id="nav-search-text">Search</span>
          </a>
        </li>
      {%- endif -%}
    </ul>
  </div>

  {% if site.navbar-extra %}
    {% for file in site.navbar-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}
  </div>

  {% if site.avatar and page.show-avatar != false %}
    <div class="avatar-container">
      <div class="avatar-img-border">
        <a href="{{ '/' | absolute_url }}">
          <img alt="Navigation bar avatar" class="avatar-img" src="{{ site.avatar | relative_url }}" />
        </a>
      </div>
    </div>
  {% endif %}

</nav>

{% include search.html %}
